<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/slate/bootstrap.min.css" rel="stylesheet">

<div>
  <h1><%= @actor.name %></h1>
</div>

<div>
  <p class="lead">
    <%= link_to "Edit actor", edit_actor_path(@actor) %>
  </p>
  
<div>
  





  <p>
    <%= link_to "Back to actors", actors_path %>
  </p>
</div>