<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/slate/bootstrap.min.css" rel="stylesheet">



<h3>Search by: <%= link_to "Movies", movies_path %>, or <%= link_to "Actors", actors_path %></h3>

<h1>Movie Actor search</h1>

